<h1>Opcja edycji klubu</h1>

<%= render 'form' %>
<hr>
<%= link_to 'Pokaż profil klubu', @club, class: "btn btn-info" %>
<%= link_to 'Lista wszystkich klubów', clubs_path, class: "btn btn-default btn-mas" %>
