<h1>Edycja piłkarza</h1>
<hr>
<%= render 'form' %>
<hr>
<%= link_to 'Pokaż profil piłkarza', @player, class: "btn btn-info" %>
<%= link_to 'Lista wszystkich piłkarzy', players_path, class: "btn btn-mas" %>
